<h2>Update product:{{product?.id}} </h2>
<form (formGroup) = "proform"  (ngSubmit) = "sendData()">
  <div>
    <label for="name"></label>
    <input type="text" name="name" id="name" class="form-control" formControlName = "name" value="{{product?.name}}" >
  </div>
  <div>
    <label for="price"></label>
    <input type="text" name="price" id="price" class="form-control" formControlName = "price" value="{{product?.price}}">
  </div>
  <br>
  <input type="submit" value="Save" class="btn btn-primary">
</form>