<h2>
 list of users!
</h2>
<ul class="list-group">

  <li *ngFor = "let key of productsKeys">
    <b>Product Name:</b> {{products[key].name}}        <b>Price:</b> {{products[key].price}}
  <button class="btn btn-info" [routerLink] = "['/edit-product', key]">Edit</button>
  </li>

</ul>