<nav class="nav-bar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active current" [routerLinkActiveOptions]={exact:true}><a routerLink="">Products</a></li>
        <li routerLinkActive="active current"><a routerLink="/login">Login</a></li>
        <li routerLinkActive="active current"><a routerLink="/fproducts">FireBase Products</a></li>
        <!--button   (click)= "logout()">Logout</button-->
      
        <!--li routerLinkActive="active current"><a routerLink="/products">Products</a></li-->
      </ul>
    </div>
  </div>
</nav>