<ul class="list-group list-group-flush">
 <li *ngFor = "let product of products" class="list-group-item" ><b>Id:</b>{{product.id}} <b>Name:</b>  {{product.name}}   <b>Phone:</b> {{product.price}}</li>
 <button class="btn btn-danger" [routerLink] = "['/products']">SQL Products</button>
</ul>